.maior{ 
    text-align: center; 
} 
.titulo{ 
    background-color: azure;
 } 
 .iracema{ 
     float: left; 
     border: transparent thin solid;
      padding: 5px; margin: 0px 10px 10px 0; 
      max-width: 100000px; 
      background-color: antiquewhite; 
    } 
    .texto1{ 
        padding-right:68%; 
        color: rgb(97, 7, 56); 
    } 
    .tabela{ 
        background-color: antiquewhite; 
    }
